body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;


}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;

  display: block;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-weight: normal;
  margin: 0 auto;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border: dotted  #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.top-container {
  background-color: #eff8ff;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin:100px 0;
}

.bottom-container {

  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.profile{
  width: 40%;
  margin: 0 auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skills1{
  width: 25%;
  margin-left: 30px;
  float: right;
}

.skills2{
  width: 25%;
  margin-right: 30px;
  float: left;
}

.intro{
  width:30%;
  margin: auto;
}

p{
  line-height: 2;
}

.skills{
  padding-top: 10px;
}

.contact{
  width: 30%;
  margin: 40px auto 60px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #15384d);
  background-image: -moz-linear-gradient(top, #3498db, #15384d);
  background-image: -ms-linear-gradient(top, #3498db, #15384d);
  background-image: -o-linear-gradient(top, #3498db, #15384d);
  background-image: linear-gradient(to bottom, #3498db, #15384d);
  -webkit-border-radius: 35;
  -moz-border-radius: 35;
  border-radius: 35px;
  text-shadow: 1px 1px 3px #362136;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #51b6f5;
  background-image: -webkit-linear-gradient(top, #51b6f5, #51829e);
  background-image: -moz-linear-gradient(top, #51b6f5, #51829e);
  background-image: -ms-linear-gradient(top, #51b6f5, #51829e);
  background-image: -o-linear-gradient(top, #51b6f5, #51829e);
  background-image: linear-gradient(to bottom, #51b6f5, #51829e);
  text-decoration: none;
}


a{
  margin: 10px 20px;
}

a:hover{
  text-decoration: none;
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
